# Ignore everything by default...
/*
# ...except the website files:
!/.gitignore
!/index.html
!/CNAME
!/robots.txt
!/sitemap.xml
!/google587a91d72fd8a429.html
!/CHOC logo.png
!/Mockups/
# Never track Mac clutter anywhere
.DS_Store
