# Ignore everything by default...
/*
# ...except the website files:
!/.gitignore
!/index.html
!/CNAME
!/robots.txt
!/sitemap.xml
!/google587a91d72fd8a429.html
!/CHOC logo.png
!/Mockups/
!/products.json
!/success.html
!/cancel.html
!/rebuilding.html
# Never track Mac clutter anywhere
.DS_Store
